# Python
**/__pycache__/
*.py[cod]
.pytest_cache/

# VS Code
.vscode/

# Node
**/node_modules/

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

client_secret_140466247813-047b3tb1gqs7066t44f5dm01qt9rgpo6.apps.googleusercontent.com.json